


<!DOCTYPE html>
<html>
  <head>

    <title>Jinja Live Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
		<link href="assets/css/bootstrap.min.css?bootstrap=3.3.7.0" rel="stylesheet">
  </head>
  <body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#a8ff862eab0742987e59af7e70e0602c4b3b0fe1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jinja Live Editor</a>
    </div><div class="navbar-collapse collapse">
      <ul class="nav navbar-nav"  id="navbar">
        <li class="active">
          <a href="/" title="Home">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


		{% block content%}
    <div class="container">
		</div>
		{% endblock content %}
    {% block javascript %}
		{% endblock javascript %}
  </body>
</html>
